@charset "UTF-8";

/* 全体 */
html {
   font-size: 62.5%;
}
* {
	box-sizing: border-box;
}
.cf:after {
    content: '.';
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
* {
    box-sizing: border-box;
}

.cf {
    display: block
}

a {
    color: #ffffff;
    text-decoration: none;
	display: block;
}

a:hover {
    opacity: 0.7;
}

img {
    width: 100%;
    display: block;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-feature-settings: "palt"1;
    font-feature-settings: "palt"1;
    font-family: 'Noto Sans CJK JP';
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}

body {
    font-family: "Yu Gothic", "YuGothic", "游ゴシック体", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "MS PGothic", "ＭＳ Ｐゴシック", "Meiryo", "メイリオ", "Osaka", sans-serif;
	font-weight: bold;
}

}

html {
    font-size: 62.5%;
}

button {
    letter-spacing: .2rem;
}

/*2/20以降いじったクラス*/
.main_title {
    box-sizing: border-box;
    padding-top: 56px;
    width: 100%;
   /* height: 70vh;*/
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(../img/title_bg.png);
    background-size: 8%;*/
    background-image: url(../img/main-img.jpg);
    background-size: cover;
    background-position: 60%;
    position: relative;
}

.title_logo {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    max-width: 500px;
    z-index: 1;
}

.main_title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.sub_title {
    width: 100%;
    font-size: 1.2rem;
    background-color: #036EB8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.sub_t_logo {
    box-sizing: border-box;
    display: block;
    padding-top: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 5px;
}

.sankaku {
    text-align: right;
}

.emergency {
    background-color: #000000;
    color: #FFFFFF;
    display: none;
}

.emergency .container {
    width: 50%;
    margin: auto;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.emergency_title {
    text-align: center;
    color: #ffff00;
    margin-bottom: 10px;
    font-size: 20px;
}

.wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.new-arrivals,
.other {
    padding-top: 70px;

}

.wrap h2 {
    width: 40vw;
    min-width: 300px;
    max-width: 450px;
	margin: 0 auto 50px;
    text-align: center;
}

.h2_title_eng, .h2_title_kanji {
	font-weight: bold;
}
.h2_title_eng {
	border-bottom: 2px solid #000000;
}

.new-arrivals .container,
.info .container,
.other .container {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
}
.info .container {
	padding: 0;
}

.new-arrivals-date {
    font-weight: bold;
}

.info_list > li {
    margin-bottom: 10%;
}

.new-arrivals-title p {
	font-weight: bold;
    margin-top: 14px;
    margin-bottom: 14px;
}

.new-arrivals-title-txt {
	background-color: #036EB8;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
}

.accordion h3 {
	font-weight: bold;
	margin: 10px 0;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
}
.info_title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid #555555;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
}
.accordion-btn-txt::after {
	content: "";
	display: block;
	position: absolute;
	right: 2rem;
	top: calc(50% - 0.4rem * 1.4);
	width: 0.8rem;
	height: 0.8rem;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.accordion-btn-txt {
	width: 70%;
	font-size: 2rem;
	position: relative;
	
}
.info_title img {
	width: 30%;
}
.info_title svg {
    text-align: center;
    padding: 5%;
}
.accordion {
	display: none;
}
.accordion h3 {
	margin-top: 40px;
}
.info_cont {
    overflow: hidden;
    transition: 0.5s;
}

.ContWrap {
    display: flex;
	flex-direction: column;
}

.info_cont .container {
    margin-top: 14px;
    margin-right: 2.5%;
    margin-bottom: 14px;
    margin-left: 2.5%;
	padding: 10px;
    height: auto;
}
.info_cont_tex {
	font-weight: 600;
	margin-top: 20px;
	line-height: 30px;
}
.info_cont .info_sub {
    margin-top: 14px;
}

.info_cont_Title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 10px;
    border-bottom: 1px solid #000000;
    margin-bottom: 14px;
    position: relative;
}

.info_cont_Title img {
	width: 70px;
	margin-right: 20px;
}

.event .info_cont {
    flex-direction: column;
}

.event .info_cont .container,
.other .info_cont .container {
    margin: 0;
    padding-right: 14px;
    padding-left: 14px;
    width: 100%;
}

.event .info_cont .container {
    padding-top: 28px;
    padding-bottom: 28px;
}

.other .info_cont .container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.event .info_cont_Title {
    width: auto;
}

.event .info_cont_tex h4:before {
    content: "「";
}

.event .info_cont_tex h4 {
    margin-bottom: 28px;
}

.event .info_cont_tex h4:after {
    content: "」";
}

.other {
    padding-top: 40px;
    margin-top: 0;
    color: #FFFFFF;
    background-color: #036EB8;
}

.other .h2_title_eng {
    border-bottom-color: #FFFFFF;
}
.staff .info_cont_Title{
    margin-bottom: 5px;
}

.rubi,
.Degree {
    position: absolute;

}

.rubi {
    top: 5%;
    left: 24.0%;
    font-size: 6px;
}

.Degree {
    bottom: 0;
    left: 23.5%;
}

.staff .container li {
    font-size: 10px;
}

.staff .container li:nth-child(2n+1):after {
    content: ":";
}

.staff .container .info_cont_tex {
    float: left;
}

.staff .container li:nth-child(2n) {
    width: 80%;
}

.staff .container li:nth-child(2n+1) {
    width: 20%;
    text-align: right;
}


.staff .container li:last-child {
    clear: both;
    float: none;
    width: auto;
    text-align: left;
}

.staff .container li:last-child:before,
.staff .container li:last-child:after {
    content: "";
}
.staff .info_cont_tex {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 10px;
}

.staffs_voice:before {
    content: "☆";
}

.staffs_voice {
    text-align: center;
    padding-bottom: 5px;
}

.staffs_voice:after {
    content: "☆";
}

.exit_road {
    padding-top: 14px;
    padding-bottom: 14px;
}

.exit_img {
    display: block;
}

.trbiz_map {
    width: 100%;
    margin: 0;
    padding-bottom: 28px;
    background-color: #036EB8;
}

.trbiz_map iframe {
    width: 100%;
    min-height: 250px;
}

/*ここまで*/

/* 個別 */



#bg_orange {
    background: #036EB8;
    color: #eeeeee;
    padding: 1px 0;
}

#emergency {
    display: none;
    background: #000;
    padding: 2.5em 2em;
}

#emergency h2 {
    color: #ffff00;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
}

#emergency p {
    color: #eeeeee;
    font-size: 1.75rem;
    line-height: 1.8;
}

main {
    font-size: 1.75rem;
    letter-spacing: .6rem;
}

#main_visual {
    overflow: hidden;
    width: 100%;
}

#main_visual > img {
    margin-top: 56px;
}

#main_visual > h2 {
    position: relative;
    overflow: hidden;
    padding: 10% 5%;
    z-index: 2;
}

#main_visual > h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 110%;
    margin: -10% -10% 0;
    background: #e35418;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    z-index: -1;
}

#date {
    font-size: 1.5rem;
    letter-spacing: 0;
    text-align: right;
    margin-right: 5%;
}

.acc ul {
    width: 80%;
    margin: 0 auto;
    padding: 7% 0;
}

#map iframe {
    width: 100%;
}

#map {
    padding-bottom: 3em;
}

main h3 {
    width: 100%;
}

main h3 img {
    margin: 5% auto 10%;
    width: 80%;
}

main dl {
    margin-bottom: 3em;
}

main dl dt {
    margin: 0 auto;
    text-align: center;
}
.new-arrivals-txt {
	font-weight: bold;
}

.

#info {
    overflow: hidden;
}

#info > h3 {
    overflow: hidden;
    padding-top: 15%;
    position: relative;
    z-index: 2;
}

#info > h3::before {
    content: "";
    background: #036EB8;
    display: block;
    height: 110%;
    left: 0;
    margin: 6% -10% 0;
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
    top: 0;
    width: 120%;
    z-index: -1;
}

.saturday img {
	max-width: 500px;
}
.accordion-saturday .container {
	width: 100%;
	padding: 0;
	margin: 0;
}


#event ul li p:first-of-type,
#bazaar ul li p:first-of-type {
    margin-bottom: 2em;
}

.acc h5 span {
    font-size: .8em;
    line-height: .8em;
}

.acc h5 {
    position: relative;
    margin-bottom: 1.5em;
}

.acc h5::after {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2.15em;
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    width: 8em;
}

#bg_orange .acc h5 {
    position: relative;
    margin-bottom: 1.5em;
}

#bg_orange .acc h5::after {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 2.15em;
    border-bottom: 1px solid #eeeeee;
    content: "";
    display: block;
    width: 8em;
}

footer {
    text-align: center;
}

footer section {
    background: url(../img/footer_bg.png);
    background-size: contain;
    padding: 2.5em 0;
}

footer section h5 {
    color: #036EB8;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1em;
}

footer section address {
    font-size: 1.5rem;
    font-style: normal;
}

#contact_link {
    color: #000000;
}

#copy {
    color: #eeeeee;

}

@media screen and (max-width: 459px) {
    main {
        font-size: 1.4rem;
        letter-spacing: normal;
    }

    footer section address {
        font-size: 1.3rem;
        font-style: normal;
    }
}

#copy {
    background: #036EB8;
    color: #eeeeee;
    padding: 8px 0;
    font-size: 1.2rem;
    line-height: 1.2em;
}

#title_absence {
    background: url(../img/ttl_01_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_saturday {
    background: url(../img/ttl_02_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_event {
    background: url(../img/ttl_03_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_holiday {
    background: url(../img/ttl_04_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_staff {
    background: url(../img/ttl_05_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_evacuation {
    background: url(../img/ttl_06_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_bazaar {
    background: url(../img/ttl_07_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#title_wage {
    background: url(../img/ttl_08_close.png) no-repeat;
    background-size: cover;
    background-position: top left;
    margin: 0 auto;
    width: 90%;
}

#new-arrival,
#saturday,
#salary,
#event,
#long-holiday,
#other {
    margin-top: -56px;
    padding-top: 56px;
}

#employee {
	margin-top: -56px;
    padding-top: 56px;
}

.acc dt {
    background-size: cover;
    background-position: top left;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.acc span img {
    visibility: hidden;
}

dt.selected span img {
    visibility: visible;
}

@media (max-width: 360px) {
	.new-arrivals .container, .info .container, .other .container {
		padding-left: 0;
		padding-right: 0;
		width: 90%;
	}
	.accordion-btn-txt {
		font-size: 1.5rem;
	}
}